{% extends 'account/base.html' %}
{% load static %}
{% load core_extras %}

{% block content %}
    <div class="mb-5">
        <legend class="">Recent Requests</legend>
        <hr>

        {% if not reqs %}
            <div class="content-section text-center text-gray">
                <i>No requests</i>
            </div>
        {% endif %}

        {% for req in reqs|slice:"0:3" %}
            <article class="content-section my-3">
                <div class="media">

                </div>

                <div class="media-body">
                    <div class="row p-1">
                        {% if user.is_authenticated %}
                            <div class="col-auto border-right">
                                <div class="" style="min-width: 50px;">
                                    {% if user in req.upvotes.all %}
                                        <button id="reqUp" class="w-100 mb-1 btn btn-sm btn-success" onclick="CastVoteUtil(0, 1, {{ req.id }})" type="button" name="button">
                                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                                            {{ req.upvotes.all|length }}
                                        </button>
                                    {% else %}
                                        <button id="reqUp" class="w-100 mb-1 btn btn-sm" onclick="CastVoteUtil(0, 1, {{ req.id }})" type="button" name="button">
                                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                                            {{ req.upvotes.all|length }}
                                        </button>
                                    {% endif %}
                                </div>

                                <div class="" style="min-width: 50px;">
                                    {% if user in req.downvotes.all %}
                                        <button id="reqDown" class="w-100 btn btn-sm btn-danger" type="button" onclick="CastVoteUtil(0, -1, {{ req.id }})" name="button">
                                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                                            {{ req.downvotes.all|length }}
                                        </button>
                                    {% else %}
                                        <button id="reqDown" class="w-100 btn btn-sm" type="button" onclick="CastVoteUtil(0, -1, {{ req.id }})" name="button">
                                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                                            {{ req.downvotes.all|length }}
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        {% else %}
                            <div class="col-auto border-left">
                                <div class="p-0" style="min-width: 50px;">
                                    <label class="w-100 btn btn-sm border mb-1" type="" name="">
                                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                                        {{ req.upvotes.all|length }}
                                    </label>
                                </div>
                                <div class="p-0" style="min-width: 50px;">
                                    <label class="w-100 btn btn-sm border my-0" type="" name="">
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                        {{ req.downvotes.all|length }}
                                    </label>
                                </div>
                            </div>
                        {% endif %}

                        <div class="col py-1" style="position: relative;">
                            <div class="">
                                <h5><a class="article-title" href="{% url 'request-details' req_id=req.id %}">{{ req.title }}</a></h5>
                                <!-- <h6 class="article-content">{{ req.description }}</h6> -->
                            </div>

                            <div class="" style="position: absolute; bottom: 0;">
                                <small>
                                    <small>
                                        {% if req.closing_response != None %}
                                            <a class="anchor tag px-2" style="color: green; background: #a2f2cf;">Completed</a>
                                        {% endif %}
                                        <a class="anchor tag px-2" href="{% url 'all-requests' %}{% urlparams branch=req.branch %}">{{ req.branch }}</a>
                                        <a class="anchor tag px-2" href="{% url 'all-requests' %}{% urlparams semester=req.semester %}">Semester: {{ req.semester }}</a>
                                    </small>
                                </small>
                            </div>

                            <div class="" style="position: absolute; bottom: 0; right: 0;">
                                <small>
                                    <small>
                                        <span class="text-muted">Posted by</span>
                                        <a class="anchor" href="{% url 'profile' username=req.user.username %}">{{ req.user }}</a>
                                        <span class="">,</span>
                                        <small class="">{{ req.date }}</small>
                                    </small>
                                </small>
                            </div>
                        </div>
                    </div>

                </div>
            </article>
        {% endfor %}

        {% if reqs|length > 3 %}
            <div class="">
                <a class="btn btn-sm btn-block btn-outline-info" style="" href="{% url 'all-requests'%}">See all requests</a>
            </div>
        {% endif %}
    </div>

    <div class="mb-5">
        <legend class="">Recent Uploads</legend>
        <hr>

        {% if not files %}
            <div class="content-section text-center text-gray">
                <i>No Files</i>
            </div>
        {% endif %}

        {% for file in files|slice:"0:3" %}
            <article class="content-section">

                <div class="media-body">
                    <div class="row p-1">
                        {% if user.is_authenticated %}
                            <div class="col-auto border-right">
                                <div class="" style="min-width: 50px;">
                                    {% if user in file.upvotes.all %}
                                        <button id="reqUp" class="w-100 mb-1 btn btn-sm btn-success" onclick="CastVoteUtil(1, 1, {{ file.id }})" type="button" name="button">
                                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                                            {{ file.upvotes.all|length }}
                                        </button>
                                    {% else %}
                                        <button id="reqUp" class="w-100 mb-1 btn btn-sm" onclick="CastVoteUtil(1, 1, {{ file.id }})" type="button" name="button">
                                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                                            {{ file.upvotes.all|length }}
                                        </button>
                                    {% endif %}
                                </div>

                                <div class="" style="min-width: 50px;">
                                    {% if user in file.downvotes.all %}
                                    <button id="reqDown" class="w-100 btn btn-sm btn-danger" type="button" onclick="CastVoteUtil(1, -1, {{ file.id }})" name="button">
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                        {{ file.downvotes.all|length }}
                                    </button>
                                    {% else %}
                                    <button id="reqDown" class="w-100 btn btn-sm" type="button" onclick="CastVoteUtil(1, -1, {{ file.id }})" name="button">
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                        {{ file.downvotes.all|length }}
                                    </button>
                                    {% endif %}
                                </div>
                            </div>
                        {% else %}
                            <div class="col-auto border-left">
                                <div class="" style="min-width: 50px;">
                                    <label class="w-100 btn btn-sm border mb-1">
                                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                                        {{ file.upvotes.all|length }}
                                    </label>
                                </div>

                                <div class="" style="min-width: 50px;">
                                    <label class="w-100 btn btn-sm border my-0">
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                        {{ file.downvotes.all|length }}
                                    </label>
                                </div>
                            </div>
                        {% endif %}

                        <div class="col py-1">
                            <div class="">
                                <h5><a class="article-title" href="{% url 'download' %}{% urlparams fileid=file.id%}">{{ file.filename }}</a></h5>
                                <!-- <h6 class="article-content">{{ file.description }}</h6> -->
                            </div>

                            <div class="" style="position: absolute; bottom: 0;">
                                <small>
                                    <small>
                                        <a class="anchor tag px-2" href="{% url 'all-uploads' %}{% urlparams branch=file.branch %}">{{ file.branch }}</a>
                                        <a class="anchor tag px-2" href="{% url 'all-uploads' %}{% urlparams semester=file.semester %}">Semester: {{ file.semester }}</a>
                                    </small>
                                </small>
                            </div>

                            <div class="" style="position: absolute; bottom: 0; right: 0;">
                                <small>
                                    <small>
                                        <span class="text-muted">Uploaded by</span>
                                        <a class="anchor" href="{% url 'profile' username=file.user.username %}">{{ file.user }}</a>
                                        <span class="">,</span>
                                        <small class="">{{ file.upload_date }}</small>
                                    </small>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        {% endfor %}

        {% if files|length > 3 %}
            <div class="">
                <form>
                    <button class="btn btn-sm btn-block btn-outline-info" style="" formaction="{% url 'all-uploads' %}">See all files</button>
                </form>
            </div>
        {% endif %}
    </div>

{% endblock content %}
