{% extends 'account/base.html' %}
{% load static %}
{% load core_extras %}

{% block content %}

<div class="content-section">
    <div class="row">
        <h2 class="col">{{ req.title }}</h2>
        {% if request.user.is_authenticated and req.user == request.user and req.responses.all and not req.is_closed %}
            <a class="my-auto mx-2 btn btn-sm btn-primary" style="float: right; vertical-align: center" href="{% url 'close-request' req_id=req.id %}">Mark as Completed</a>
        {% endif %}
        <a class="my-auto mx-2 btn btn-sm btn-outline-success" style="float: right; vertical-align: center" href="{% url 'new-upload' %}{% urlparams req=req.id semester=req.semester branch=req.branch next=request.path %}">Upload a response</a>
    </div>

    <div class="media mt-3">
        {% if req.user.profile %}
            <img class="mr-2 rounded-circle article-img" src="{{ req.user.profile.avatar.url }}" height="25px" width="25px">
        {% else %}
            <img class="mr-2 rounded-circle article-img" src="{% url 'media-server' filename='default-avatar.jpg' %}" height="25px" width="25px">
        {% endif %}
        <div class="article-metadata" style="">
            <a class="anchor mr-2" href="{% url 'profile' username=req.user.username %}">{{ req.user }}</a>
            <small class="text-muted">{{ req.date }}</small>
        </div>
    </div>

    <hr class="my-2 mb-4 py-0">

    <div class="row">
        <div class="col">
            <div class="">
                <p>{{ req.description }}</p>
            </div>

            <div id="tag-section" class="my-2">
                <small>
                    {% if req.is_closed %}
                    <a class="anchor tag px-2" style="color: green; background: #a2f2cf;" href="#">Completed</a>
                    {% endif %}
                    <a class="anchor tag px-2" href="{% url 'all-requests' %}{% urlparams branch=req.branch %}">{{ req.branch }}</a>
                    <a class="anchor tag px-2" href="{% url 'all-requests' %}{% urlparams semester=req.semester %}">Semester: {{ req.semester }}</a>
                </small>
            </div>
        </div>


        {% if user.is_authenticated %}
            <div class="col-auto border-left py-1">
                <div class="" style="min-width: 50px;">
                    {% if user in req.upvotes.all %}
                        <button id="reqUp" class="w-100 mb-1 btn btn-sm btn-success" onclick="CastVoteUtil(0, 1, {{ req.id }})" type="button" name="button">
                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                            {{ req.upvotes.all|length }}
                        </button>
                    {% else %}
                        <button id="reqUp" class="w-100 mb-1 btn btn-sm btn-normal" onclick="CastVoteUtil(0, 1, {{ req.id }})" type="button" name="button">
                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                            {{ req.upvotes.all|length }}
                        </button>
                    {% endif %}
                </div>
                <div class="" style="min-width: 50px;">
                    {% if user in req.downvotes.all %}
                        <button id="reqDown" class="w-100 btn btn-sm btn-danger" type="button" onclick="CastVoteUtil(0, -1, {{ req.id }})" name="button">
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                            {{ req.downvotes.all|length }}
                        </button>
                    {% else %}
                        <button id="reqDown" class="w-100 btn btn-sm btn-normal" type="button" onclick="CastVoteUtil(0, -1, {{ req.id }})" name="button">
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                            {{ req.downvotes.all|length }}
                        </button>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="col-auto border-left">
                <div class="p-0" style="min-width: 50px;">
                    <label class="w-100 btn btn-sm border mb-1" type="" name="">
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                        {{ req.upvotes.all|length }}
                    </label>
                </div>
                <div class="p-0" style="min-width: 50px;">
                    <label class="w-100 btn btn-sm border my-0" type="" name="">
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                        {{ req.downvotes.all|length }}
                    </label>
                </div>
            </div>
        {% endif %}

    </div>

    {% if req.responses.all %}
        <hr class="my-3 mb-2 py-0">
        <h4 class="my-3">Responses</h4>
        {% for i in req.responses.all %}

            <div class="content-section">
                <div class="media">
                    {% if i.user.profile %}
                            <img class="mr-2 rounded-circle article-img" src="{{ i.user.profile.avatar.url }}" height="25px" width="25px">
                    {% else %}
                            <img class="mr-2 rounded-circle article-img" src="{% url 'media-server' filename='default-avatar.jpg' %}" height="25px" width="25px">
                    {% endif %}
                    <div class="article-metadata" style="">
                        <a class=" anchor mr-2" href="{% url 'profile' username=i.user.username %}">{{ i.user }}</a>
                        <small class="text-muted">{{ i.upload_date }}</small>
                    </div>
                </div>
                <hr class="my-2 py-0">

                <div class="row">
                    <div class="col">

                        <a class="anchor" href="{% url 'download' %}{% urlparams fileid=i.id%}">{{ i.filename }}</a>
                        <small>
                            <p class="my-0">{{ i.description }}</p>
                        </small>
                    </div>

                    {% if user.is_authenticated %}
                        <div class="col-auto border-left">
                            <div class="row pl-1">
                                <div class="col p-1" style="min-width: 50px;">
                                    {% if user in i.upvotes.all %}
                                        <button id="reqUp" class="w-100 mb-1 btn btn-sm btn-success" onclick="CastVoteUtil(1, 1, {{ i.id }})" type="button" name="button">
                                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                                            {{ i.upvotes.all|length }}
                                        </button>
                                    {% else %}
                                        <button id="reqUp" class="w-100 mb-1 btn btn-sm btn-normal" onclick="CastVoteUtil(1, 1, {{ i.id }})" type="button" name="button">
                                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                                            {{ i.upvotes.all|length }}
                                        </button>
                                    {% endif %}
                                </div>
                                <div class="col p-1" style="min-width: 50px;">
                                    {% if user in i.downvotes.all %}
                                        <button id="reqDown" class="w-100 btn btn-sm btn-danger" type="button" onclick="CastVoteUtil(1, -1, {{ i.id }})" name="button">
                                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                                            {{ i.downvotes.all|length }}
                                        </button>
                                    {% else %}
                                        <button id="reqDown" class="w-100 btn btn-sm btn-normal" type="button" onclick="CastVoteUtil(1, -1, {{ i.id }})" name="button">
                                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                                            {{ i.downvotes.all|length }}
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-auto border-left">
                            <div class="row pl-1">
                                <div class="col p-1" style="min-width: 50px;">
                                    <label class="w-100 btn btn-sm border mb-1" type="" name="">
                                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                                        {{ i.upvotes.all|length }}
                                    </label>
                                </div>
                                <div class="col p-1" style="min-width: 50px;">
                                    <label class="w-100 btn btn-sm border my-0" type="" name="">
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                        {{ i.downvotes.all|length }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>

{% endblock content %}

{% block sidecontent %}
<div class="col-md-4">
    <div class="content-section">
        <div class="media">
            {% if req.user.profile %}
                    <img class="mr-2 rounded-circle article-img" src="{{ req.user.profile.avatar.url }}" height="60px" width="60px">
            {% else %}
                    <img class="mr-2 rounded-circle article-img" src="{% url 'media-server' filename='default-avatar.jpg' %}" height="60px" width="60px">
            {% endif %}
            <div class="article-metadata py-2" style="">
                <h5 class="m-0 p-0">{{ req.user.first_name }}</h5>
                <a class="anchor m-0 p-0 text-secondary" href="{% url 'profile' username=req.user.username %}">@{{ req.user }}</a>
            </div>
        </div>

        <hr class="w-50">

        <div class="">
            {% if request.user.is_authenticated %}
                <h6 class="text-secondary"><span class="text-dark">Email:</span> {{ req.user.email }}</h6>
            {% endif %}

            {% if req.user.profile.branch %}
                <h6 class="text-secondary"><span class="text-dark">Branch:</span> {{ req.user.profile.branch }}</h6>
            {% endif %}

            {% if req.user.profile.semester %}
                <h6 class="text-secondary"><span class="text-dark">Semester:</span> {{ req.user.profile.semester }}</h6>
            {% endif %}

            {% if req.user.request_set|exclude:req %}
                <div class="">
                    <hr>
                    <h5>More requests from <a  style="text-decoration: none;" href="{% url 'profile' username=req.user.username %}">{{ req.user.username }}</a></h5>

                    {% for r in req.user.request_set|exclude:req|order:"-date"|slice:"0:3" %}
                        <div class="card my-2">
                            <div class="card-body px-3 py-2">
                                <a class="anchor" href="{% url 'request-details' req_id=r.id %}">
                                    <h5 class="card-title my-1">{{ r.title }}</h5>
                                </a>

                                <div id="tag-section" class="my-0">
                                    <small>
                                        {% if r.is_closed %}
                                            <a class="anchor tag px-2" style="color: green; background: #a2f2cf;">Completed</a>
                                        {% endif %}
                                        <a class="anchor tag px-2" href="{% url 'all-requests' %}{% urlparams branch=r.branch %}">{{ r.branch }}</a>
                                        <a class="anchor tag px-2" href="{% url 'all-requests' %}{% urlparams semester=r.semester %}">Semester: {{ r.semester }}</a>
                                    </small>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock sidecontent %}
