{% load static %}
{% load core_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" />
    <link rel="icon" type="image/png" href="{% static 'accounts/images/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'core/mdb5/css/mdb.min.css' %}" />
    <link rel="stylesheet" href="{% static 'core/custom-css/style.css' %}" />
    <script src="{% static 'accounts/main.js' %}" charset="utf-8"></script>

    {% if title %}
        <title>{{ title }} | Notes Exchange</title>
    {% else %}
        <title>Notes Exchange</title>
    {% endif %}
</head>
<body>
    <!-- Attach side menu if User is logged In -->
    {% if user.is_authenticated %}

    {% endif %}

    <div id="blackLayer" class="layer">

    </div>

    <div class="site-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'home' %}">
                    Notes <span style="color: #42bff5;">Exchange</span>
                </a>

                <div class="navbar-collapse">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{% url 'about' %}">Services</a>
                    </div>

                    {% if not user.is_authenticated %}
                        {% include 'core/auth_modal.html' with loginform=loginform signupform=signupform %}

                        <div class="navbar-nav">
                            <button id="login-btn" type="button" class="btn btn-link me-2" onclick="document.getElementById('login-tab').click()" data-mdb-toggle="modal" data-mdb-target="#mainAuthModal">
                                <strong>Login</strong>
                            </button>
                            <button id="signup-btn" type="button" class="btn btn-primary" onclick="document.getElementById('signup-tab').click()" data-mdb-toggle="modal" data-mdb-target="#mainAuthModal">
                                <strong>Sign Up</strong>
                            </button>
                        </div>
                    {% else %}
                        {% include 'core/signout_modal.html' %}

                        <div id="profileDiv" class="navbar-nav">
                            <a class="mr-3 nav-item nav-link" href="{% url 'new-request' %}">New Request</a>
                            <!-- <a class="nav-item nav-link" href="{% url 'profile' username=user.username %}">Profile</a> -->

                            <div class="btn-grou" style="position: relative;" role="group">
                                <img id="btnGroupDrop1" data-mdb-toggle="dropdown" aria-expanded="false" class="rounded-circle border border-dark cursor-pointer" src="{% static 'core/images/default-avatar.jpg' %}" alt="" height="40px" width="40px">

                                <ul class="rounded border drop-down-menu dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <li>
                                        <a class="dropdown-item rounded" href="{% url 'profile' username=user.username %}">My Profile</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item rounded" href="#">My Requests</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item rounded" href="#">My Uploads</a>
                                    </li>
                                    <hr class="m-2 mx-4 p-0">
                                    <li>
                                        <form class="" action="{% url 'account_logout' %}" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-primary btn-block">
                                                <strong>Sign Out</strong>
                                                <i class="fa fa-sign-out-alt fa-lg" aria-hidden="true"></i>
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>

    <main role="main" class="container my-3">
      <div class="row">
        <div class="col-md">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}

          {% block content %}

          {% endblock content %}
        </div>

        {% block sidecontent %}

        {% endblock sidecontent %}
      </div>
    </main>

    <script type="text/javascript" src="{% static 'core/mdb5/js/mdb.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/custom-js/main.js' %}"></script>
</body>
</html>
