{% extends 'account/auth_base.html' %}

{% block form_about %}
    <div class="my-3 border-bottom">
        <h4 class="my-1">Sign Up</h4>
        <p style="font-size: 0.9em;" class="">Welcome to <a href="{{ site }}">{{ site.name }}</a>!</p>
    </div>
{% endblock form_about %}

{% block form_content %}
    {% with "Sign Up" as submit_name %}
        {{ block.super }}
    {% endwith %}

    <div class="border-top py-3">
        <small class="float-left">
            <span class="text-dark-gray">Already have an account?</span> <a class="anchor" href="{% url 'account_login' %}">Sign In</a>
        </small>
    </div>
{% endblock %}
