body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.tag {
    color: #39739d;
    background: #e1ecf4;
    border-radius: 3px;
    display: inline-block;
}

.anchor:link {
    text-decoration: none;
}

.card-body:hover {
    background: WhiteSmoke;
}

.profile_pic{
    /* border: 3px solid gray; */
}
